*.jar
screenshots.xcf
color-palette.xcf
.idea/
aurora-borealis-theme/out
aurora-borealis-theme/.idea
everest-theme/out
everest-theme/.idea
autumn-theme/out
autumn-theme/.idea
sequoia-theme/out
sequoia-theme/.idea
